/**
{
    border: 1px solid rgba(0,0,0,0.3);
} */

body 
{

}

#map 
{
    height: 700px;
    width: 100%;
}

.jumbotron 
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 800px;
    margin-top: 5em;
}

#lat, #lng, #navLat, #navLng
{
    float: left;
    display: inline;
    width: 49%;
}